

html {
    
}

html, body,{
    height: 100%;
}

#introLore {
    
    font-size: 20px;
    font-family: 'Merriweather', serif;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 13em;
    margin-right: 13em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#mainLogo {

    margin-top: 1em;
    font-size: 4em;
    color: purple;
    text-align: center;
    display: block;
    font-family: 'Merriweather', serif;
    
}

#welcomeName {
    text-align: center;
}

#enterName, #nameBox {
   
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
