html,
body {
    width: 100%;
    margin: 0;
    font-family: 'Artifika', serif;
}

body {
    max-width: 100%;
}

#mainlogo {
    display: block;
    margin: auto;
    max-width: 250px;
}

#quotepanel {
    text-align: center;
    background-color: aqua;
    border: 2px solid black;
    padding: 10px;
    word-wrap: break-word;
}

#openquote {}

#intropanel {
    text-align: center;
    padding: 10px;
}

#welcomeplayer,
#inputname,
#buttonsubmit {
    padding: 10px;
}

#storybox {
    float: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#happening,
#choices {
    text-align: center;
    padding: 10px;
    float: center;
    display: block;
    margin: auto;
}

#list {
    position: absolute;
    display: block;
    float: right;
    margin: auto;
    padding: 10px;
}

#happening {
    display: block;
    float: center;
    text-align: center;
    word-wrap: break-word;
    max-width: 800px;
}

#choices {
    display: block;
    float: center;
}